<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="bi.infinity.seeds_management_system">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_seed"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.FullScreen">
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".UserChoiceActivity" />
        <activity android:name=".VendreActivity" />
        <activity
            android:name=".Dialogs.VenteDialog"
            tools:ignore="Instantiatable" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>